.user-story{
    text-align: center;
    font-size: 25px;
}

.team{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


.bio-chris{
    text-align: center;
    font-size: 20px;
}

.bio-tony{
    text-align: center;
    font-size: 20px;
}

.top-portion{
font-weight: bold;
font-size: 20px;
}